<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>398517789558-i51s8kd5j5red1nkuq3sr0rn2dpcprel.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.398517789558-i51s8kd5j5red1nkuq3sr0rn2dpcprel</string>
	<key>API_KEY</key>
	<string>AIzaSyDHvThk2jQc6Y96fdWio73txv0eUfxUpfw</string>
	<key>GCM_SENDER_ID</key>
	<string>398517789558</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.IT312grp2.MakeFoodie</string>
	<key>PROJECT_ID</key>
	<string>makefoodie-722fe</string>
	<key>STORAGE_BUCKET</key>
	<string>makefoodie-722fe.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:398517789558:ios:00538c435218e69cbb5057</string>
	<key>DATABASE_URL</key>
	<string>https://makefoodie-722fe.firebaseio.com</string>
</dict>
</plist>